body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gameTitle {
  text-align: center;
}

.userForm {
  width: 20rem;
  height: 10rem;
  margin: auto;
  border: 1px solid black;
  background: #1FB1B8;
  color: white;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}

.submitButton {
  width: 10rem;
  height: 2.5rem;
  margin: auto;
  border-radius: .5rem;
  background: #AB1E88;
  color: white;
  outline: none;
  font-size: 1rem;
  font-family: sans-serif;
  border: 1px solid black;
}

.spanText {
  color: #0F0E59;
}


.inputTextTitle {
  text-align: center;
}

.inputTextField {
  display: block;
  padding: .5rem;
  border-radius: .5rem;
  outline: none;
  text-shadow: none;
  border: 1px solid #333;
  width: 90%;
  margin: auto;
}


.memeRow {
  display: flex;
  width: 80rem;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  flex-direction: row;
}

.meme {
  width: 20rem;
  height: 20rem;
  border: 1px solid black;
  border-radius: 1rem;
}
